.main {
  padding: 0 clamp(2%, 5vw, 80px);
}

.breadCrumbs {
  margin-top: 10px;
}

.breadCrumbs p span {
  text-transform: capitalize;
  font-weight: bold;
  cursor: auto;
}

.breadCrumbs p span .link {
  text-decoration: none;
  color: #20283a;
  font-weight: 500;
  cursor: pointer;
}

.breadCrumbs p span i {
  padding: 0 10px;
  font-size: 18px;
}

.productDetailsDiv {
  margin-top: 30px;
}

.productDetailsDiv {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imageParentDiv {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.imageParentDiv img {
  width: 400px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.productDetails {
  margin-left: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 0px;
  padding: 10px;
  max-width: 400px;
  width: 80vw;
  min-width: 150px;
}

.productDetails .rating {
  margin-top: 15px;
}

.productDetails .price {
  margin-top: 7px;
}

.productDetails .description {
  margin-top: 7px;
}

.addtoCart {
  margin-left: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: #20283a;
  color: white;
  padding: 15px 10px;
  margin-top: 0px;
  border-radius: 8px;
  max-width: 400px;
  width: 80vw;
  min-width: 150px;
}

.addtoCart .price,
.addtoCart .stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.addtoCart .stock p:nth-last-child(1) {
  color: #55efc4;
}

.addtoCart .addtoCartbutton {
  margin-top: 10px;
}

.addtoCart .addtoCartbutton button {
  background-color: gold;
  outline: none;
  border: none;
  width: 100%;
  padding: 10px 0;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 576px) {
  .imageParentDiv img {
    max-width: 300px;
    width: 100%;
    min-width: 175px;
  }
  .productDetails {
    margin-top: 20px;
    max-width: 100%;
    min-width: 100px;
  }
  .addtoCart {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .productDetailsDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .imageParentDiv img {
    max-width: 300px;
    width: 100%;
    min-width: 175px;
    max-height: 300px;
    -o-object-fit: contain !important;
       object-fit: contain !important;
  }
  .productDetails {
    -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important;
    margin-top: 20px !important;
    margin-left: 0px !important;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 400px;
  }
  .addtoCart {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 20px !important;
    -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important;
    margin-left: 0px !important;
    width: 400px;
  }
}

@media (max-width: 992px) {
  .imageParentDiv img {
    max-width: 300px;
    width: 100%;
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .productDetails {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  .addtoCart {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
}
