.defaultLink {
  text-decoration: none;
  color: #fbfbfb;
}

.header {
  background: #20283a;
}

.header nav {
  height: 60px;
  color: white;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 clamp(2%, 5vw, 80px);
}

.nav .brand .brandName {
  font-size: 26px;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
}

.nav ul li {
  margin-left: 20px;
}

.nav ul li .badge {
  color: #ffdbdb;
  background-color: #b60000;
  padding: 3px 10px;
  margin-left: 5px;
  border-radius: 50%;
}

.nav ul li a:hover {
  color: gold;
}

.nav ul li:nth-child(1) {
  margin-left: 0px;
}

.nav ul .nameLink {
  cursor: pointer;
  position: relative;
}

.nav ul .dropdownContent {
  display: none;
}

.nav ul .nameLink:hover .dropdownContent {
  display: block;
  width: 100px;
  position: absolute;
  top: 100%;
  right: 0;
  text-align: right;
  background-color: #20283a;
  border-radius: 6px;
}

.nav ul .nameLink:hover .dropdownContent a {
  display: block;
  margin-top: 10px;
  padding: 10px 15px;
  width: 100%;
  background-color: #20283a;
  text-decoration: none;
  color: #fbfbfb;
}

.nav ul .nameLink:hover .dropdownContent a:hover {
  color: gold;
}
