.main {
  margin-top: 10px;
  padding: 0 clamp(2%, 5vw, 80px);
}

.placeOrderContainer {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.placeOrderContainer .extraHeight {
  display: none;
}

.placeOrderContainer .orderInformation {
  width: 100%;
  max-width: 900px;
  padding: 0px 20px;
}

.placeOrderContainer .orderInformation > div {
  border: 1px solid #20283a;
  margin-top: 20px;
  border-radius: 6px;
  padding: 10px;
}

.placeOrderContainer .orderInformation > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.placeOrderContainer .orderInformation > div > div h3 {
  margin-right: 10px;
}

.placeOrderContainer .orderInformation > div:first-child {
  margin-top: 0px;
}

.placeOrderContainer .orderInformation > div:nth-last-child(2) > div {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.placeOrderContainer .orderInformation > div:nth-last-child(2) img {
  min-width: 80px;
  max-width: 250px;
  width: 8vw;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.placeOrderContainer .orderInformation > div:nth-last-child(2) p {
  font-weight: 600;
}

.placeOrderContainer .placeOrder {
  min-width: 400px;
}

.placeOrderContainer .placeOrder > div {
  background-color: #20283a;
  border-radius: 8px;
  color: white;
  padding: 10px 15px;
}

.placeOrderContainer .placeOrder > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.placeOrderContainer .placeOrder > div .placeOrderButton button {
  display: block;
  width: 100%;
  color: black;
  background-color: gold;
  text-decoration: none;
  padding: 8px;
  text-align: center;
  font-weight: 700;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer !important;
}

@media (max-width: 992px) {
  .placeOrder {
    padding: 0 clamp(2%, 5vw, 80px);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 100% !important;
  }
  .placeOrderContainer .extraHeight {
    border: 0px solid transparent !important;
    display: block;
    height: 225px;
  }
  .placeOrderContainer .orderInformation {
    padding: 0px;
  }
}
