@import "allVariable";

.defaultLink {
  text-decoration: none;
  color: $light-color;
}

.header {
  background: $primary-color;
  nav {
    height: 60px;
    color: white;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:  0 clamp(2%, 5vw, 80px);


  .brand {
    .brandName {
      font-size: 26px;
    }
  }
  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    li {
      margin-left: 20px;
      .badge{
        color: #FFDBDB;
        background-color:#B60000 ;
        padding: 3px 10px;
        margin-left: 5px;
        border-radius:50% ;
      }
      &:nth-child(1) {
        margin-left: 0px;
      }
    }
  }
}
