@import "allVariable";
.main {
  margin-top: 10px;
  padding: 0 clamp(2%, 5vw, 80px);
}
.placeOrderContainer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  .extraHeight {
    display: none;
  }
  .orderInformation {
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;

    > div {
      border: 1px solid $primary-color;
      margin-top: 20px;
      border-radius: 6px;
      padding: 10px;
      > div {
        display: flex;
        align-items: center;
        margin-top: 10px;
        h3 {
          margin-right: 10px;
        }
      }
      &:first-child {
        margin-top: 0px;
      }
      &:nth-last-child(2) {
        > div {
          justify-content: space-between;
        }
        img {
          min-width: 80px;
          max-width: 250px;
          width: 8vw;
          height: 100px;
          object-fit: contain;
        }
        p {
          font-weight: 600;
        }
      }
    }
  }
  .placeOrder {
    min-width: 400px;
    > div {
      background-color: $primary-color;
      border-radius: 8px;
      color: white;
      padding: 10px 15px;
      > div {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
      }
      .placeOrderButton {
        button {
          display: block;
          width: 100%;
          color: black;
          background-color: gold;
          text-decoration: none;
          padding: 8px;
          text-align: center;
          font-weight: 700;
          border-radius: 6px;
          border: none;
          outline: none;
          cursor: pointer !important;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .placeOrder {
    padding: 0 clamp(2%, 5vw, 80px);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 100% !important;
  }
  .placeOrderContainer {
    .extraHeight {
      border: 0px solid transparent !important;
      display: block;
      height: 225px;
    }
    .orderInformation {
      padding: 0px;
    }
  }
}
